
#numerosContainer {
  margin-top: 30px;
}

#numeros {
  display: flex;
  flex-wrap: wrap;
}

.numero {
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}

.numero.clicked {
  background-color: red;
  color: white;
}


#resultado {
  font-size: 45px; /* Tamaño de fuente más grande */
  margin-top: 20px; /* Espacio entre el botón y el número */
}/* Estilos anteriores se mantienen */


